.auth-container {
    height: 66.6vh !important;
}

.first-background {
    background-image: url(/bg.svg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.page-enter-active,
.page-leave-active {
    transition: ease-in-out 0.5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}
