.auth-container {
    height: 96.6vh!important;
}

.first-background {
    background-image: url(/bg.svg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}