.auth-container {
    height: 100vh!important;
}

.first-background {
    background-image: url(/bg.svg);
    background-size: cover;
    background-position: initial;
    background-position-x: center;
    background-position-y: top;
}